@import "~antd/dist/antd.css";

.container{
	padding: 20px;
}

.header{
	display: flex;
	background-color: #000;
	padding: 20px;
	align-items: center;
	
	p{
		color: #fff;
		font-weight: bold;
		cursor: pointer;
		margin-right: 20px;
	}
}

.slider-container{
	display: flex;
	align-items: center;
	width: 100%;
	margin: 20px 0;
	.ant-slider{
		width: 100%;
	}

	p{
		font-weight: bold;
		margin: 0 !important;
	}
}

.ant-slider-handle{
	height: 30px !important;
	width: 30px !important;
	border-radius: 2px !important;
	margin-top: -12px !important;
}

.ant-slider-handle.ant-tooltip-open{
	border-color: #fff !important;
}
	
.ant-tooltip-inner {
    position: absolute;
    left: -15px;
    top: 10px;
	box-shadow: none;
	cursor: pointer;
	font-weight: bold;
	color: #69C0FF;
	background-color: #fff;
	border: 1px solid #69C0FF;
}

.ant-tooltip-arrow-content{
	display: none;
}